# Server Config
PORT=8080
APP_ORIGIN=http://localhost:3000

# Database Config
DATABASE_URL=postgres://user:password@host:port/dbname

# Firebase Config
# Common ID Config
COMMON_ID_ORIGIN=http://localhost:13000
COMMON_ID_API_ORIGIN=http://localhost:18080
COMMON_ID_CLIENT_ID=your_common_id_client_id
COMMON_ID_API_KEY=your_common_id_application_api_key
COMMON_ID_REDIRECT_URI=http://localhost:8080/auth/callback
COMMON_ID_LOGOUT_REDIRECT_URI=http://localhost:8080/auth/logout/callback
